@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
@inject JustChat.Database.AppDbContext AppDbContext
@using Microsoft.EntityFrameworkCore

@{
    User currentUser = null;
    if (SignInManager.IsSignedIn(User))
        currentUser = await UserManager.GetUserAsync(User);
    var userRooms = AppDbContext.Rooms
                                    .Include(r => r.Users)
                                    .Where(r => r.Users.Contains(currentUser) && r.RoomId != 1);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] JustChat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">JustChat</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul id="nav-mobile" class="right">
                        <li><a class="disabled username"><i class="material-icons prefix">face</i>@currentUser.UserName</a></li>
                        <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Find rooms</a></li>
                        <li><a asp-page="/Authentication/Logout"><i class="material-icons right">logout</i>Logout</a></li>
                    </ul>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a asp-page="/Chat/Chat" asp-route-roomId="1">Main Room</a></li>
                        <li class="divider"></li>
                        @if (userRooms != null)
                        {
                            @foreach (var userRoom in userRooms)
                            {
                                <li><a asp-page="/Chat/Chat" asp-route-roomId="@userRoom.RoomId">@userRoom.Name</a></li>
                                <li class="divider"></li>
                            }
                        }
                        <li><a asp-page="/Chat/CreateRoom" class="cyan lighten-5">CREATE ROOM</a></li>
                    </ul>
                }
                else
                {
                    <ul id="nav-mobile" class="right">
                        <li><a asp-page="/Authentication/Register">Register</a></li>
                        <li><a asp-page="/Authentication/Login">Login</a></li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer class="page-footer">
        <div>Created by Wiktor Zielak</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var options = {
                coverTrigger: false,
                hover: true
            };
            var instances = M.Dropdown.init(elems, options);
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
